<h2 class="page-header">Dashboard</h2>
<p>Welcome to your Dashboard</p>
<hr>
<br>
<h4>You have a total of {{totalhours}} hours</h4>
<br>
<div class="container">
    <div class="row">
        <div id="col1" class="col-sm"></div>
        <div id="col2" class="col-sm"></div>
        <div id="col3" class="col-sm"></div>
    </div>
</div>