<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Easy Building</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet href="css/bootstrap.min.css" type="text/css">

    <link rel=stylesheet href="css/style.css" type="text/css">
</head>

<script src="openfiles.js"></script>
<script src="js/bootstrap.min.js"></script>

<body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Easy Building</h1>
      <hr>
      <button class="btn btn-primary btn-block" type="button" onclick="npmstart()">NPM Start</button>
      <button class="btn btn-primary btn-block" type="button" onclick="ngbuild()">Build Angular</button>
      <p class="mt-5 mb-3 text-muted">© 2019</p>
    </form>
</body>