<div class="jumbotron text-center">
  <h1>Volunteer Hours Tracker</h1>
  <p class="lead">Welcome to your personal Volunteer Hours Tracker</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Simple</h3>
    <p>The program is easy to use and all the information you need is right there waiting</p>
  </div>
  <div class="col-md-4">
    <h3>Elegant</h3>
    <p>With a modern design, the program is easy on the eyes. It also has a mobile friendly interface</p>
  </div>
  <div class="col-md-4">
    <h3>Students / Teachers</h3>
    <p>With the school community in-mind, the program is built for students and teachers to use</p>
  </div>
</div>