<div class="card">
  <div class="card-body">
      <p class="card-text">{{name}} has given you some volunteer hours</p>
      <a class="card-link text-success">+{{hours}} hours</a>
      <a class="card-link">{{date}}</a>
  </div>
</div>
<br>